.gold{
    color:gold
}
.blue{
    color:blue;
}
.green{
    color:green
}
.black{
    color:black;
}
.white{
    color:white;
}
.red{
    color:red;
}
#girls{
    background-color:pink
}
#video_games{
    background-color:orange;
}
#sports{
    background-color:blueviolet;
}
#space{
    background-color:turquoise;
}