.pink{
    color:pink;
}
.blue {
    color:blue;
}
#rapper {
    background: linear-gradient(pink, blue);
    margin: 0 auto;
    text-align: center;
    font-family: 'Noto Serif SC', serif;

}

#mj{
    margin: 0 auto;
    text-align: center;
    
}