<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'haterz/css/style.css' %}">
</head>
<body>
    <div id ="rapper">
        <h1>Welcome to Fakebook</h1>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <h2>Register</h2>
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>First Name: <input type="text" name="first_name"></p>
            <p>Last Name: <input type="text" name="last_name"></p>
            <p>Email: <input type="email" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p>Confirm Password: <input type="password" name="confirm_password"></p>
            <p>Date of Birth: <input type="date" name="dob"></p>
            <p><input type="submit" value="Register"></p>
        </form>
        <h2>Login</h2>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>Email: <input type="email" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p><input type="submit" value="Login"></p>
        </form>
        <h3>Music</h3>
        <iframe width="40%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/388587471&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <iframe width="40%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228915879&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
</body>
</html>