<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mainx</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'haterz/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">

</head>
<body>
    <div id ="rapper">
        <div class = "{{settings.text_color}} {{settings.theme}}" id ="{{settings.background_color}}">
                <h1 class="{{settings.text_color}}">Welcome, {{user.first_name}} {{user.last_name}}</h1>
                <a href="/wall/{{user.id}}">Visit your wall?</a>
                <h3>Customize your settings</h3>
                <form action="/custom" method="POST">
                    {% csrf_token %}
                    <p> <label for="background_color">Choose Background Color</label> <select id="background_color" name="background_color" value = "{{settings.background_color}}">
                            <option value="{{settings.background_color}}">{{settings.background_color}}</option>
                            <option value="white">White</option>
                            <option value="red">red</option>
                            <option value="green">green</option>
                            <option value="black">black</option>
                            <option value="blue">blue</option>
                            </select></p>
                    <p> <label for="text_color">Choose Text Color</label>
                        <select id="text_color" name="text_color" value = "{{settings.text_color}}">
                        <option value="{{settings.text_color}}">{{settings.text_color}}</option>
                        <option value="black">Black</option>
                        <option value="red">red</option>
                        <option value="green">green</option>
                        <option value="gold">gold</option>
                        <option value="white">white</option>
                        <option value="blue">blue</option>
                        </select>
                    </p>
                    <p> <label for="theme">Choose Theme</label>
                        <select id="theme" name="theme">
                        <option value="{{settings.theme}}">{{settings.theme}}</option>
                        <option value="standard">standard</option>
                        <option value="sports">sports</option>
                        <option value="video_games">video_games</option>
                        <option value="space">space</option>
                        <option value="cars">cars</option>
                        <option value="girls">girls</option>
                        <option value="maybe">maybe</option>
                        <option value="josh">josh</option>
                        <option value="miraak">miraak</option>
                        <option value="got">got</option>
                        <option value="ice">ice</option>
                        <option value="helmet">helmet</option>
                        <option value="mw">mw</option>
                        <option value="skyrim">skyrim</option>
                        <option value="ned">ned</option>
                        <option value="snake">snake</option>
                        <option value="watson">watson</option>
                        <option value="snow">snow</option>
                        <option value="marcus">marcus</option>
                        <option value="jg">jg</option>
                        <option value="gow">gow</option>
                        <option value="dishonored">dishonored</option>
                        <option value="deshaun">deshaun</option>
                        <option value="cod">cod</option>
                        <option value="tiger">tiger</option>
                        <option value="leveon">leveon</option>
                        <option value="gurley">gurley</option>
                        <option value="flame">flame</option>
                        <option value="fire">fire</option>
                        <option value="dragon">dragon</option>
                        <option value="dom">dom</option>
                        <option value="delta">delta</option>
                        <option value="chief">chief</option>
                        <option value="bubble">bubble</option>
                        <option value="bell">bell</option>
                        <option value="alduin">alduin</option>
                        <option value="anya">anya</option>
                        <option value="blackops">blackops</option>
                        <option value="jon">jon</option>
                        </select>
                    </p>
                    <p><input type="submit" value="Customize"></p>
                </form>
                <div id = "other">
                    <h1>Other Users</h1>
                    {% for user in users2 %}
                        <p><a href="/wall/{{user.id}}">{{user.last_name}}, {{user.first_name}}</a></p>
                    {% endfor %}
                </div>
                
                <form action="/add" method="POST">
                    {% csrf_token %}
                    <p><label for="artist">Artist</label> <input type="text" name="artist" id = "artist"></p>
                    <p><label for="album">Album</label> <input type="text" name="album" id="album"></p>
                    <p><label for="label">Label</label> <input type="text" name="label" id="label"></p>
                    <p><input type="submit" value="Add Record"></p>
                </form>
                <div id = "all_records">
                        <h2>All Records</h2>
                    {% for record in records %}
                        <p>{{record.album}} by {{record.artist}} from {{record.label}}<a href="/edit/{{record.id}}">Edit</a> | <a href="/destroy/{{record.id}}">Delete</a> | <a href="/hate/{{record.id}}">Hate</a></p>
                    {% endfor %}
                </div>
                
                <div id = "hated">
                    <h2>Hated Records</h2>
                    {% for record in hated %}
                        <p>{{record.album}} by {{record.artist}} from {{record.label}}
                            
                            <a href="/edit/{{record.id}}">Edit</a> | <a href="/destroy/{{record.id}}">Delete</a> | <a href="/hate/{{record.id}}">Hate</a></p>
                            <i>Hated By:</i>
                            {% for hater in record.haters.all %}
                                <p>{{hater.first_name}} {{hater.last_name}}</p>
                            {% endfor %}
                    {% endfor %}
                </div>
                
                <h3>Your Settings</h3>
                {{settings}}
                <p>Your background color is: {{settings.background_color}}</p>
                <p>Your text color is: {{settings.text_color}}</p>
                <p>Your theme is: {{settings.theme}}</p>
                <h2><a href="/logout" name = "logout"><label for="logout">Logout</label></a></h2>

            </div>
    </div>
    
    

</body>
</html>